<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--CSS-->
      <link type="text/css" rel="stylesheet" href="public/css/materialize.min.css"  media="screen,projection"/>
      
      <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600' rel='stylesheet' type='text/css'>

      <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

      <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

      <link href="public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>

    <body>

  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo swap left">SwapThing</a>
      <ul id="nav-mobile" class="right">
          <li class="search">
            <div class="nav-wrapper">
                  <form>
                    <div class="input-field">
                      <input id="search" type="search" required>
                      <label for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                    </div>
                  </form>
                </div>
          <li><a href="#">Logout</a></li>
          </li>
      </ul>
    </div>
  </nav>
  <main>

  <div class="container" id="maincontainer">
    <div class="row">

      <!-- Sidebar Navigation (image) -->
      <div class="col hide-on-small-only m3 l2">
        <div class="toc-wrapper pin-top" style="top: 0px;">

          <img src="http://placehold.it/150x150" class="circle responsive-img">

          <!-- Side Navigation Links  -->
          <br>
          <br>
          <blockquote>
          <ul class="links">
            <li><a class="modal-trigger" href="#postAProduct">Post Product</a></li>
            <li><a class="torequests" href="#swapped">Swap Requests</a></li>
            <li><a href="#">Swap Store</a></li>
            <li>Logout</li>
          </ul>
          </blockquote>

        </div>
      </div>

      <!-- Swap Info Area -->
      <div class="col s12 m9 l9">
        <div>
          <!-- NAME here -->
          <div id="username">

      
      <!-- Swap Info Area -->
      <div class="col s12 m9 l9">
        <div>
          <!-- NAME here -->
          <div id="username">
            <h2>Manage Your Inventory</h2>
            <br>
            <hr>
          </div>


          </div>

          <!-- Get Swapping TXT -->
          <br>
          <div id="toswap">
            <h5>Current Inventory</h5>
          </div>

      <div class="row">

            <!-- Card 1 -->
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="public/css/imgs/placeholder/whiskey_glasses.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Glasses<i class="material-icons right">more_vert</i></span>
                  <p><a class="modal-trigger" href="#updateProduct">Update Product</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Whiskey Glasses<i class="material-icons right">close</i></span>
                  <p>Item category: </p>
                  <p>Product description</p>
                  <p>Amount of use: </p>
                  <p>Sold By: </p>
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="public/css/imgs/placeholder/polaroid_camera.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Polaroid<i class="material-icons right">more_vert</i></span>
                  <p><a class="modal-trigger" href="#updateProduct">Update Product</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Polaroid<i class="material-icons right">close</i></span>
                  <p>Item category: </p>
                  <p>Product description</p>
                  <p>Amount of use: </p>
                  <p>Sold By: </p>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="public/css/imgs/placeholder/makeuppalette.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Makeup<i class="material-icons right">more_vert</i></span>
                  <p><a class="modal-trigger" href="#updateProduct">Update Product</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Makeup<i class="material-icons right">close</i></span>
                  <p>Item category: </p>
                  <p>Product description</p>
                  <p>Amount of use: </p>
                  <p>Sold By: </p>
                </div>
              </div>
            </div>


            <!-- Card 4 -->
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="public/css/imgs/placeholder/nikes.jpg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"> Nike's<i class="material-icons right">more_vert</i></span>
                  <p><a class="modal-trigger" href="#updateProduct">Update Product</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Nike's<i class="material-icons right">close</i></span>
                  <p>Item category: </p>
                  <p>Product description</p>
                  <p>Amount of use: </p>
                  <p>Sold By: </p>
                </div>
              </div>
            </div>

 <div id="swapped">
            <h5>Pending Swap Requests</h5>
          </div>

          <!-- Swapped Items -->
          <div class="row">

            <!-- Card 1 -->
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <!--///we can show a picture of the item them own that they would like to swap with you/// -->
                  <img src="public/css/imgs/placeholder/measuringcups.jpg">
                </div>
                <div class="card-content">
                  <p>[FRIEND'S NAME] would like to swap your [ITEM] for thier [ITEM]</p>
                </div>
                <div class="card-action">
                  <a class= "modal-trigger" href="#congrats">Accept Swap</a>
                  <br>
                  <a class="modal-trigger" href="#reject">Reject Swap</a>
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <!--///we can show a picture of the item them own that they would like to swap with you/// -->
                  <img src="public/css/imgs/placeholder/desk.jpg">
                </div>
                <div class="card-content">
                  <p>[FRIEND'S NAME] would like to swap your [ITEM] for thier [ITEM]</p>
                </div>
                <div class="card-action">
                  <a class= "modal-trigger" href="#congrats">Accept Swap</a>
                  <br>
                  <a class="modal-trigger" href="#reject">Reject Swap</a>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <!--///we can show a picture of the item them own that they would like to swap with you/// -->
                  <img src="public/css/imgs/placeholder/vase.jpg">
                </div>
                <div class="card-content">
                  <p>[FRIEND'S NAME] would like to swap your [ITEM] for thier [ITEM]</p>
                </div>
                <div class="card-action">
                  <a class= "modal-trigger" href="#congrats">Accept Swap</a>
                  <br>
                  <a class="modal-trigger" href="#reject">Reject Swap</a>
                </div>
              </div>
            </div>


            <!-- Card 4 -->
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <!--///we can show a picture of the item them own that they would like to swap with you/// -->
                  <img src="public/css/imgs/placeholder/bike_img.jpg">
                </div>
                <div class="card-content">
                  <p>[FRIEND'S NAME] would like to swap your [ITEM] for thier [ITEM]</p>
                </div>
                <div class="card-action">
                  <a class= "modal-trigger" href="#congrats">Accept Swap</a>
                  <br>
                  <a class="modal-trigger" href="#reject">Reject Swap</a>
                </div>
              </div>
            </div>


    </div>

    <!-- Update Modal Structure -->
    <div id="updateProduct" class="modal">
      <div class="modal-content ">
        <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
        <h4>Update Your Product</h4>
        <p>Adjust your inventory accordingly</p>
          <form>
          <div class="row">
            <div class="input-field col s6">
                <input id="product_name" type="text" class="validate">
                <label for="product_name">Product Name</label>
            </div>
            <div class="input-field col s6">
                <input id="product_description" type="text" class="validate">
                <label for="product_description">Product Description</label>
            </div>
           </div>
           <div class="row">
              <div class="input-field col s12">
                <input id="imageURL" type="url" class="validate">
                <label for="imageURL">Input Image URL</label>
              </div>
            </div>
            <form action="#">
            <h5>Pick one category for your product</h5>
              <p>
                <input class="with-gap" name="category" type="radio" id="beauty" value="Beauty/Health"/>
                <label for="beauty">Beauty/Health</label>

                <input class="with-gap" name="category" type="radio" id="electronic" value="Electronics"/>
                <label for="electronic">Electronics</label>

                <input class="with-gap" name="category" type="radio" id="apparel" value="Apparel"/>
                <label for="apparel">Apparel</label>

                <input class="with-gap" name="category" type="radio" id="media" value="Media"/>
                <label for="media">Media</label>

                <input class="with-gap" name="category" type="radio" id="house" value="Household Goods"/>
                <label for="house">Household Goods</label>

                <input class="with-gap" name="category" type="radio" id="other" value="Other"/>
                <label for="other">Other</label>
              </p>
            </form>
            <br>

            <form action="#">
            <h5>What condition is your product in?</h5>
              <p>
                <input class="with-gap" name="condition" type="radio" id="1" value="1"/>
                <label for="1">Heavily used</label>

                <input class="with-gap" name="condition" type="radio" id="2" value="2"/>
                <label for="2">More than average use</label>

                <input class="with-gap" name="condition" type="radio" id="3" value="3"/>
                <label for="3">Used from time to time</label>

                <input class="with-gap" name="condition" type="radio" id="4" value="4"/>
                <label for="4">Hardly used</label>

                <input class="with-gap" name="condition" type="radio" id="5" value="5"/>
                <label for="5">Basically new</label> 
              </p>
            </form>
            <br>

          </form>
          <div class="modal-footer">
            <button class="btn waves-effect waves-light right" type="submit" name="action" id="postProduct">Update Your Product
            </button>
             <button class="btn waves-effect waves-light pink left" type="submit" name="action" id="postProduct">Delete Your Product
            </button>
          </div>
      </div>
    </div>

    <!-- Post a Product Modal Structure -->
    <div id="postAProduct" class="modal">
      <div class="modal-content ">
        <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
        <h4>Post A Product</h4>
        <p>Tell us a bit about what you're swapping</p>
          <form>
          <div class="row">
            <div class="input-field col s6">
                <input id="product_name" type="text" class="validate">
                <label for="product_name">Product Name</label>
            </div>
            <div class="input-field col s6">
                <input id="product_description" type="text" class="validate">
                <label for="product_description">Product Description</label>
            </div>
           </div>
           <div class="row">
              <div class="input-field col s12">
                <input id="imageURL" type="url" class="validate">
                <label for="imageURL">Input Image URL</label>
              </div>
            </div>
            <form action="#">
            <h5>Pick one category for your product</h5>
              <p>
                <input class="with-gap" name="category" type="radio" id="beauty" value="Beauty/Health"/>
                <label for="beauty">Beauty/Health</label>

                <input class="with-gap" name="category" type="radio" id="electronic" value="Electronics"/>
                <label for="electronic">Electronics</label>

                <input class="with-gap" name="category" type="radio" id="apparel" value="Apparel"/>
                <label for="apparel">Apparel</label>

                <input class="with-gap" name="category" type="radio" id="media" value="Media"/>
                <label for="media">Media</label>

                <input class="with-gap" name="category" type="radio" id="house" value="Household Goods"/>
                <label for="house">Household Goods</label>

                <input class="with-gap" name="category" type="radio" id="other" value="Other"/>
                <label for="other">Other</label>
              </p>
            </form>
            <br>

            <form action="#">
            <h5>What condition is your product in?</h5>
              <p>
                <input class="with-gap" name="condition" type="radio" id="1" value="1"/>
                <label for="1">Heavily used</label>

                <input class="with-gap" name="condition" type="radio" id="2" value="2"/>
                <label for="2">More than average use</label>

                <input class="with-gap" name="condition" type="radio" id="3" value="3"/>
                <label for="3">Used from time to time</label>

                <input class="with-gap" name="condition" type="radio" id="4" value="4"/>
                <label for="4">Hardly used</label>

                <input class="with-gap" name="condition" type="radio" id="5" value="5"/>
                <label for="5">Basically new</label> 
              </p>
            </form>
            <br>

          </form>
          <div class="modal-footer">
            <button class="btn waves-effect waves-light left" type="submit" name="action" id="postProduct">Post Your Product
            </button>
          </div>
      </div>
    </div>

      <!-- Accept Modal Structure -->
        <div id="congrats" class="modal">
        <div class="modal-content">
          <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
          <h4>CONGRATS!</h4>
          <p>[ITEM NAME] is all yours! Be sure to contact [FRIEND'S NAME] to make arrangements!</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Keep Swapping</a>
        </div>
      </div>

      <!-- Reject Modal Structure -->
      <div id="reject" class="modal">
      <div class="modal-content">
        <button class="modal-close btn-flat" style="position:absolute;top:0;right:0;">X</button>
        <h4>No problem, better swapping next time!</h4>
        <p>[ITEM NAME] will be returned back to your shop and [FRIEND'S NAME] will be notified! Be sure to check out [FRIEND'S NAME]'s shop to see if there is something else you would be willing to trade.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Keep Swapping</a>
      </div>
    </div>


      </div>

    </main>
    
    <footer class="page-footer blue" id="page-footer">
      <div class="container">
        <div class="row">
        </div>
      </div>
      <div class="footer-copyright pinkT">
        <div class="container">
        </div>
      </div>
    </footer>



      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="public/js/materialize.js"></script>
      <script src="public/js/app.js"></script>
    </body>
  </html>