<!DOCTYPE html>
  <html>
    <head>
      <title>
        Get Swapping!
      </title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--CSS-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
      
      <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600' rel='stylesheet' type='text/css'>

      <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

      <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

      <link href="../css/style2.css" type="text/css" rel="stylesheet" media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>

    <body>

    <header>
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
            <a class="brand-logo swap">SwapThing</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

            <!-- <li>
              <div class="input-field">
                <form>
                <input id="search" type="search" required>
                <i class="material-icons">close</i>
                <label for="search"><i class="material-icons">search</i></label>
                </form>
              </div>
            </li> -->

            <li><a class="modal-trigger" href="#modal3">Manage Swaps</a></li>
            <li><a class="modal-trigger" href="#modal2"><i class="large material-icons">perm_identity</i></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>

      <div class="container" id="maincontainer">
        <div class="row">

          <!-- Sidebar Navigation -->
          <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper pin-top" style="top: 0px;">

              <img src="http://placehold.it/150x150" class="circle responsive-img">

              <!-- <p>TEST</p> -->

              <ul class="links">
                <li>Manage Swaps</li>
                <li>Post Product</li>
                <li><a href="#addproduct" class="modal-trigger">Post Product</a></li>
                <li><a class="torequests">Swap Requests [4]</a></li>
                <!-- <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li> -->

              </ul>

            </div>
          </div>

          <!-- Swap Info Area -->
          <div class="col s12 m9 l10">
            <div>
              <!-- NAME here -->
              <div id="username">
                <h2>Hello, [Name!]</h2>
                <hr>
              </div>

              <!-- Get Swapping TXT -->
              <div id="toswap">
                <h5>Get Swapping!</h5>
              </div>

              <!-- Friends Row -->
              <div class="row">

                <!-- Card 1 -->
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="../images/guy_profile.jpg">
                      <span class="card-title">Brian B.</span>
                    </div>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Brian's Stuff</a>
                    </div>
                  </div>
                </div>

                <!-- Card 2 -->
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="../images/woman_profile.jpeg">
                      <span class="card-title">Mila S.</span>
                    </div>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Mila's Stuff</a>
                    </div>
                  </div>
                </div>

                <!-- Card 3 -->
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="../images/friend02.jpg">
                      <span class="card-title">Alex W.</span>
                    </div>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Alex's Stuff</a>
                    </div>
                  </div>
                </div>


                <!-- Card 4 -->
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="../images/friend_03.jpg">
                      <span class="card-title">Dee M.</span>
                    </div>
                    <div class="card-content">
                     <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Dee's Stuff</a>
                    </div>
                  </div>
                </div>
              </div>

              <div id="swapped">
                <h5>Swap Requests</h5>
              </div>

              <!-- Swapped Items -->
              <div class="row">

                <!-- Card 1 -->
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="../images/measuringcups.jpg">
                    </div>
                    <div class="card-content">
                      <p>Bought an extra set. Like new.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>

                <!-- Card 2 -->
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="../images/shampoo_img.jpg">
                    </div>
                    <div class="card-content">
                      <p>Was looking for a new shampoo/conditioner and it just didn't work for me. </p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>

                <!-- Card 3 -->
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="../images/nikes.jpg">
                    </div>
                    <div class="card-content">
                      <p>A half a size too small! Size 9.5(M)</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>


                <!-- Card 4 -->
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="../images/bike_img.jpg">
                    </div>
                    <div class="card-content">
                     <p>Upgraded to a new bike! Hard to see this go. Vintage 1984 Chesini X Uno.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
              </div>

                    
            </div>
          </div>


        </div>
      </div>
    </main>


    <!-- Modals -->
     <div id="addproduct" class="modal">
      <div class="modal-content ">
        <h4>Post A Product</h4>
        <p>Tell us a bit about what you're swapping</p>
          <form>
          <div class="row">
            <div class="input-field col s6">
                <input id="product_name" type="text" class="validate">
                <label for="procut_name">Product Name</label>
            </div>
            <div class="input-field col s6">
                <input id="prodcut_description" type="text" class="validate">
                <label for="prodcut_description">Product Description</label>
            </div>
           </div>
           <div class="row">
              <div class="input-field col s12">
                <input id="imageURL" type="url" class="validate">
                <label for="imageURL">Input Image URL</label>
              </div>
            </div>
            <form action="#">
            <h5>Pick one category for your product</h5>
              <p>
                <input class="with-gap" name="productType" type="radio" id="beauty"/>
                <label for="beauty">Beauty/Health</label>

                <input class="with-gap" name="productType" type="radio" id="electronic"/>
                <label for="electronic">Electronics</label>

                <input class="with-gap" name="productType" type="radio" id="apperal"/>
                <label for="apperal">Apperal</label>

                <input class="with-gap" name="productType" type="radio" id="media"/>
                <label for="media">Media</label>

                <input class="with-gap" name="productType" type="radio" id="house"/>
                <label for="house">Household Goods</label>

                <input class="with-gap" name="productType" type="radio" id="other"/>
                <label for="other">Other</label>
              </p>
            </form>
            <br>

            <form action="#">
            <h5>What condition is your product in?</h5>
              <p>
                <input class="with-gap" name="productType" type="radio" id="1"/>
                <label for="1">Heavily used</label>

                <input class="with-gap" name="productType" type="radio" id="2"/>
                <label for="2">More than average use</label>

                <input class="with-gap" name="productType" type="radio" id="3"/>
                <label for="3">Used from time to time</label>

                <input class="with-gap" name="productType" type="radio" id="4"/>
                <label for="4">Hardly used</label>

                <input class="with-gap" name="productType" type="radio" id="5"/>
                <label for="5">Basically new</label> 
              </p>
            </form>
            <br>

          </form>
          <div class="modal-footer">
            <button class="btn waves-effect waves-light left" type="submit" name="action">Post Your Product
            </button>
          </div>
      </div>
    </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../js/materialize.js"></script>      
      <script src="../js/app.js"></script>
    </body>
  </html>