<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--CSS-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      
      <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600' rel='stylesheet' type='text/css'>

      <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>

      <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

      <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>

    <body>

    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo swap">SwapThing</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="learnMore">Learn More</a></li>
        <li><a class="modal-trigger" href="#modal1">Sign Up</a></li>
        <li><a class="modal-trigger" href="#modal2">Login</a></li>
        </ul>
      </div>
    </nav>


  <!-- Sign Up Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Create your account</h4>
        <p>You'll be swapping in minutes!</p>
          <form>
          <div class="row">
            <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
           </div>
           <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">E-mail</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div> 
          </form>
          <div class="modal-footer">
            <button class="btn waves-effect waves-light left" type="submit" name="action">Sign Up
            </button>
          </div>
      </div>
    </div>

    <!-- Login Modal Structure -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4>Login to your account</h4>
        <p>You'll be swapping in minutes!</p>
          <form>
           <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">E-mail</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div> 
          </form>
          <div class="modal-footer">
            <button class="btn waves-effect waves-light left" type="submit" name="action">Login
            </button>
          </div>
      </div>
    </div>



      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.js"></script>
       <script src="js/app.js"></script>
    </body>
  </html>