<nav>
  <div class="nav-wrapper">
    <a class="brand-logo swap">SwapThing</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a class="learnMore">Learn More</a></li>
    <li><a class="modal-trigger" href="#modal1">Sign Up</a></li>
    <li><a class="modal-trigger" href="#modal2">Login</a></li>
    </ul>
  </div>
</nav>

<div class="sidebar">
	 <div class="col s4 m4">
	 	<h2>sidebar</h2>
	 </div>
</div>

<div class="nameplace">
	<div class="col s8 m2">
		<h2>Name goes here</h2>
	</div>
</div>