body {
	font-family: 'Abel', sans-serif;
}

hr {
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#maincontainer{
	margin-top: 50px;
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
	height: 64px !important;
}

nav .brand-logo {
  color: white;
  padding-left: 40px;
}

nav {
	background-color: #1b998B;
}

nav ul a {
	padding-right: 40px;
}

.header {
	padding-top: 40px;
}

footer.page-footer {
	margin-top: 0px;
}
.btn-large {
	background-color: #E84855;
}

.btn-large:hover {
    background-color: #1b998B;
}

footer.page-footer .footer-copyright {
	background-color: #2D3047;
}

.blue {
    background-color: #1b998B !important;
}

.pink-bg {
    background-color: #E84855 !important;
}

.pink-text {
    color: #E84855 !important;
}

.blueIcon{
	color: #1b998B !important;
}

.top-image {
	height: 650px;
}

.top-text {
	padding-top: 125px;
}

.mid-text {
	padding-top: 200px;
}

.modal { 
	width: 40% !important  
} 

.swap {
	font-family: 'Covered By Your Grace', cursive;
}

.swapTitle {
	font-family: 'Covered By Your Grace', cursive;
	font-size: 6.2rem;
}

#aboutSwap {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#brandClick {
	cursor: pointer;
}

#postAProduct { 
	width: 60% !important  
}

#updateProduct { 
	width: 60% !important  
} 

.swapArrow {
	padding-top: 50px;
}

.select-wrapper input input.select-dropdown {
	margin-top: 50px;
}

blockquote {
	border-left: 5px solid #1b998B;
	margin: 10px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #E84855;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: none;
}

a:hover {
	transition: color .3s ease;
}

